<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>ResearchApp</display-name>
    
    <welcome-file-list>
        <!--<welcome-file>login/login.jsp</welcome-file>-->
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <listener>
        <listener-class>user.UserListener</listener-class>
    </listener>
    <listener>
        <listener-class>research.ResearchListener</listener-class>
    </listener>
    <listener>
        <listener-class>announcement.AnnouncementListener</listener-class>
    </listener>
    <listener>
        <listener-class>permission.UserPermissionListener</listener-class>
    </listener>
    <listener>
        <listener-class>metadata.MetaListener</listener-class>
    </listener>
    
    
    <servlet>
        <description/>
        <display-name>SignupServlet</display-name>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>user.SignupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>SearchResearchServlet</display-name>
        <servlet-name>SearchResearchServlet</servlet-name>
        <servlet-class>research.SearchResearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchResearchServlet</servlet-name>
        <url-pattern>/SearchResearchServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>AddResearchServlet</display-name>
        <servlet-name>AddResearchServlet</servlet-name>
        <servlet-class>research.AddResearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddResearchServlet</servlet-name>
        <url-pattern>/AddResearchServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>AnnouncementServlet</display-name>
        <servlet-name>AnnouncementServlet</servlet-name>
        <servlet-class>announcement.AddAnnouncementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AnnouncementServlet</servlet-name>
        <url-pattern>/AnnouncementServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>user.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>AddUserGroupServlet</display-name>
        <servlet-name>AddUserGroupServlet</servlet-name>
        <servlet-class>permission.AddUserGroupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserGroupServlet</servlet-name>
        <url-pattern>/AddUserGroupServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>MetaServlet</display-name>
        <servlet-name>MetaServlet</servlet-name>
        <servlet-class>metadata.AddMetaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MetaServlet</servlet-name>
        <url-pattern>/MetaServlet</url-pattern>
    </servlet-mapping>
</web-app>
